* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: cyberbunk-font;
    src: url(Fonts/CIND.otf);
}
html, body {
    background-color: black;
    color: white;
}
.nav-bar {
    position: fixed;
    text-align: right;
    background-color: black;
    width: 100%;
    box-shadow: 0px 3px 7px rgb(36, 36, 36);
}
.nav-bar li {
    display: inline;
}
.nav-bar a {
    display: inline-block;
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: cyberbunk-font;
    color: white;
}
.nav-bar a:hover {
    color: DeepPink;
    text-shadow: 0px -5px 2px aqua ;
}
main {
    padding-top: 60px;
}
.section-home img {
    width: 100%;
    height: auto;
    z-index: -1;
}